@{
    ViewData["Title"] = "Home Page";
    
}

@model List<Project>


<div class="d-flex justify-content-between">
<a href="/projects/new">Create a Project</a>
<form asp-controller="Users" asp-action="Logout" method="POST">
    <button class="btn btn-link">Logout</button>
</form>

</div>
<table class="table">
 <tr>
    <th>Project Title</th>
    <th>Total Funded</th>
    <th>Creator</th>
    <th>Actions</th>
  </tr>

@foreach (Project projects in Model)
{
     
 
  <tr>
  <td>@projects.title</td>  
  <td>@projects.goal</td>  
  <td>@projects.Creator</td>  
  <td class="d-flex">
     <a  asp-controller="Projects"
            asp-action = "GetOneProject"
            asp-route-oneProjectId = "@projects.ProjectId"
            >View</a> |
        
         <form asp-controller = "Projects"
            asp-action="DeleteOneProject"
            asp-route-deleteProjectId = "@projects.ProjectId"
            asp-method = "POST"> 
            <button type="button" class="btn btn-link">Delete</button>
         </form>
  </td>  
  </tr>
  


}
</table>
